body {
  background-color: #FFF;
}

.left{
  background-color: #FCFCFC;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding:.3rem;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  /* box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.03); */
}

.center {
  background-color: #FCFCFC;
  margin-bottom: 2rem;
  padding:.3rem;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

/* .right{
  background-color: #FCFCFC;
  margin-left: 2rem;
  padding: .3rem;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
} */

.main{
  margin-top: 1rem;
  margin-bottom: 1rem;
}