.header {
  background-color: #fff;
  overflow: hidden;
  height: 3rem;
  width: 100%;
  // border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 4px rgb(89 90 89 / 28%);
}

.headerText {
  margin-left: 1rem;
  color: #909399;
}